{% extends 'index.html' %}
{% load static %}
{% block body %}

 <h2 align="center">{{ message }}</h2>
<style>
    body {

        background-image: url('{% static "images/adc.png" %}');
        background-size: 100% 90%; /* Ensure the image covers the entire background */
        background-position: center center;
        background-repeat: no-repeat;
        filter: brightness(1.2);
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin: 50px auto;
        width: 60%;
    }

    h2, h3 {
        color: #008cff;
    }
</style>
<form method="post" action="{% url 'checkfacultylogin' %}">
    {% csrf_token %}

    <div style="text-align: center; margin-top: 50px;">

        <h2>Faculty Login</h2>

        <label for="fid">Enter Faculty ID:</label>
        <input type="number" id="fid" name="fid" required>

        <br>

        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="pwd" required>

        <br>

        <button type="submit">Login</button>
        <button type="reset">Clear</button>
    </div>
</form>

{% endblock %}
